{% extends 'base.html' %}
{% block content %}
{% load static %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container mb15rem">
            <div class="masthead-subheading">Welcome 欢迎</div>
            <div class="masthead-heading text-uppercase">Menu 菜单</div>
        </div>
    </header>
    <!-- Menus -->
    <section id="menu">
        <div class="container">
            <div class="row">
                <div class="col-md text-center breakfast bg-black">
                    <h3>Breakfast Menu</h3>
                    <h4>8:00am - 12:00pm</h4>
                    <p>Dim sum Delight</p>
                    <ul class="list-inline">
                        <li>Steamed Shrimp Dumplings (Har Gow)</li>
                        <li>Pork and Shrimp Siu Mai</li>
                        <li>Vegetable Spring Rolls</li>
                    </ul>
                    <p>Congee Comfort</p>
                    <ul class="list-inline">
                        <li>Century Egg and Pork Congee</li>
                        <li>Chicken and Mushroom Congee</li>
                        <li>Seafood Congee</li>
                    </ul>
                    <p>Morning Essentials</p>
                    <ul class="list-inline">
                        <li>Scallion Pancakes</li>
                        <li>Chinese Donut (Youtiao)</li>
                        <li>Soy Milk (Sweet or Savory)</li>
                    </ul>
                    <p>Fresh Start Beverages</p>
                    <ul class="list-inline">
                        <li>Green Tea Latte</li>
                        <li>Jasmine Tea</li>
                        <li>Fresh Orange Juice</li>
                    </ul>
                </div>
                <div class="col-md text-center evening bg-gold">
                    <h3>Evening Menu</h3>
                    <h4>12:00pm - 7:00pm</h4>
                    <p>Appetizers</p>
                    <ul class="list-inline">
                        <li>Crispy Salt and Pepper Squid</li>
                        <li>Spicy Szechuan Wontons</li>
                        <li>Edamame with Sea Salt</li>
                    </ul>
                    <p>Main Courses</p>
                    <ul class="list-inline">
                        <li>Kung Pao Chicken</li>
                        <li>Beef and Broccoli Stir-Fry</li>
                        <li>Ma Po Tofu</li>
                    </ul>
                    <p>Side Dishes</p>
                    <ul class="list-inline">
                        <li>Egg Fried Rice</li>
                        <li>Garlic Green Beans</li>
                        <li>Vegetable Lo Mein</li>
                    </ul>
                    <p>Evening Sips</p>
                    <ul class="list-inline">
                        <li>Chilled Chrysanthemum Tea</li>
                        <li>Lychee Mocktail</li>
                        <li>Tsingtao Beer</li>
                    </ul>
                </div>
                <div class="col-md text-center night bg-black">
                    <h3>Night Menu</h3>
                    <h4>7:00pm - 11:30pm</h4>
                    <p>Starters</p>
                    <ul class="list-inline">
                        <li>Hot and Sour Soup</li>
                        <li>Peking Duck Rolls</li>
                        <li>Stuffed Mushrooms with Crab Meat</li>
                    </ul>
                    <p>Signature Dishes</p>
                    <ul class="list-inline">
                        <li>Sweet and Sour Pork</li>
                        <li>Mongolian Lamb</li>
                        <li>Steamed Whole Fish with Ginger and Scallions</li>
                    </ul>
                    <p>Accompaniments</p>
                    <ul class="list-inline">
                        <li>Steamed Jasmine Rice</li>
                        <li>Cucumber Salad with Chili Oil</li>
                        <li>Braised Eggplant in Garlic Sauce</li>
                    </ul>
                    <p>Nightcap Drinks</p>
                    <ul class="list-inline">
                        <li>Plum Wine</li>
                        <li>Oolong Tea</li>
                        <li>Baijiu Cocktails</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}