{% extends "base.html" %}
{% block content %}
{% load static%}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container mb8rem">
                <div class="masthead-subheading">Welcome 欢迎</div>
                <div class="masthead-heading text-uppercase">Golden Wok</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="#about">About Us</a>
            </div>
        </header>
        <!-- About Us-->
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">About us</h2>
                    <h3 class="section-subheading text-muted">
                        At Golden Wok, we bring the rich, vibrant flavors of authentic Chinese cuisine to the heart of
                        our community. Our journey began with a passion for sharing the diverse culinary traditions of
                        China, from the bustling streets of Beijing to the serene landscapes of Sichuan. Our mission is
                        to offer a dining experience that transports you to the Far East, with each dish crafted to
                        perfection using the freshest ingredients and traditional techniques.
                    </h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-6">
                        <a href="#">
                            <span class="fa-stack fa-4x">
                                <i class="fas fa-circle fa-stack-2x" style="color: #ffd700;"></i>
                                <i class="fas fa-utensils fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <h4 class="my-3">Menu</h4>
                        <p class="text-muted">
                            Whether you are joining us for a delightful breakfast, an exquisite evening meal, or a
                            sumptuous night feast, Golden Wok promises to tantalize your taste buds. From our morning
                            Dim Sum delights and comforting congee to the robust flavors of our Kung Pao Chicken and the
                            elegance of our Peking Duck Rolls, every dish is a testament to our commitment to quality
                            and taste.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <a href="#">
                            <span class="fa-stack fa-4x">
                                <i class="fas fa-circle fa-stack-2x" style="color: #ffd700;"></i>
                                <i class="fas fa-address-book fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <h4 class="my-3">Book A Seat</h4>
                        <p class="text-muted">
                            Indulge in the authentic flavors of China and create unforgettable dining experiences at
                            Golden Wok. Whether you're planning a cozy breakfast, a delightful evening meal, or a
                            sumptuous night feast, we invite you to join us for an exceptional culinary journey.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Opening Hours -->
        <section class="page-section bg-light" id="open">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Opening Hours</h2>
                </div>
                <div class="text-center text-muted bg-black">
                    <ul class="list-inline">
                        <li>Monday: 10:00am - 11:30pm</li>
                        <li>Tuesday: 10:00am - 11:30pm</li>
                        <li>Wednesday: 10:00am - 11:30pm</li>
                        <li>Thursday: 10:00am - 11:30pm</li>
                        <li>Friday: 10:00am - 12:30pm</li>
                        <li>Saturday: 10:00am - 12:30pm</li>
                        <li>Sunday: 10:00am - 11:30pm</li>
                    </ul>
                </div>
        </section>

{% endblock %}