{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container mb15rem">
            <div class="masthead-subheading">Welcome 欢迎</div>
            <div class="masthead-heading text-uppercase">Contact Us</div>
        </div>
    </header>
    <!-- Contact -->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Book A Seat</h2>
            </div>
            <form method="post">
                {{ collaborate_form | crispy }}
                {% csrf_token %}
                <button class="btn btn-secondary"
                  type="submit">Submit</button>
              </form>
        </div>
    </section>
{% endblock content %}